<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台输出项配置-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout  class="ch.qos.logback.classic.PatternLayout">
            <pattern>
            %d - %msg%n
            </pattern>
        </layout>
    </appender>
    <!--    info信息滚动文件输出配置项-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>   <!--过滤掉error的级别-->
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略 基于时间的滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件输出路径-->
            <fileNamePattern>
                log/sell/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--error信息滚动文件输出配置项-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略 基于时间的滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件输出路径-->
            <fileNamePattern>
                log/sell/error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--项目加载引用控制台输出配置项-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

</configuration>